---
import PricingCards from "../components/PricingCards.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Nos offres">
  <h1 class="text-3xl font-bold mb-6 text-center">Nos offres</h1>
  <PricingCards />
</Layout>
