---
import Layout from "../layouts/Layout.astro";
import PricingCards from "../components/PricingCards.astro";
---

<Layout title="Nos tarifs">
  <main>
    <h1 class="text-4xl font-bold text-center my-12">
      Nos offres de création de site vitrine
    </h1>
    <PricingCards />
  </main>
</Layout>
